@import "../node_modules/normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  &__sideBar {
    width: 25%;
    height: 100%;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__main {
    width: 75%;
    background-color: whitesmoke;
    padding: 20px 40px;
  }
}

.links {
  display: flex;
  flex-direction: column;

  a {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 4px 8px;
    margin-bottom: 4px;
    text-decoration: none;
    color: black;
  }
}

.item {
  border-radius: 8px;
  padding: 4px;
  margin: 0 10px;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

.card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;

  span {
    padding: 4px;
    margin-left: 10px;
  }
}
.card__default {
  background-color: grey;
}
.card__read {
  background-color: grey;
  opacity: 0.5;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  background-color: rgba($color: #000000, $alpha: 0.5);
  height: 100vh;
  width: 100vw;

  &__mail-viewer {
    background-color: white;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 20px;
  }
}
